#header {border-bottom:3px solid #060404;
    text-align: center;
    background-color: #e2dfdf;
    padding-bottom: 5px;}

#contact-me-div {padding-top: 20px;}

.contact-info {text-align: center;}

#hardworking {color: #5959d4;}

#responsible {color: #7e5bd5;}

#reliable {color: #7767c7;}

#getotknow {line-height: 23px;
font-size: 120%;
margin-left: 300px;
margin-right: 300px;}

.contactme-body {text-align: center;}


#looking-for-somebody {text-align: center;}
