#header {border-bottom:3px solid #010407;
    text-align: center;
    background-color: #e2dfdf;
    padding-bottom: 5px;}

.portfolio-body {text-align: center;
    list-style-position: inside;
    font-size: 120%;}