<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/indexStylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div id="header">
    <h1>AlexanderBringuel.com</h1>
    <button id="home-button"><a href="http://127.0.0.1:5000/">Homepage</a></button>
    <button id="aboutme-button"><a href="http://127.0.0.1:5000/aboutme/">About Me</a></button>
    <button id="contactme-button"><a href="http://127.0.0.1:5000/contactme/">Contact Me</a></button>
    <button id="portfolio-button"><a href="http://127.0.0.1:5000/portfolio/">Portfolio</a></button>
</div>

<div class="home-info lead">
    <p>Hi, my name is Alexander Bringuel. This is my website.</p>
    <p>Oh, youre still here? Why dont you take a look around. You wont be dissapointed.
    </p>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
